.star-rating {
  margin-top: 20px;
  color: var(--star-color);
}

.star-rating-details {
  margin-top: 0;
  color: var(--star-color);
  background-color: var(--bg_details);
}

.star-details{
  background-color: var(--bg_details);
}