:root {
  /* Default (light mode) colors */
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
  --white-color:white;
  --bg_details:#333333;
  --black-color:black;
  --star-color:#ff9f43;
  --favourite-border:#dddddd;
}

.btn {
  border: 1px solid var(--lines-color);
  border-radius: 4.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.8px;
  color: var(--body-text);
}

#icon-btn {
  width: 13px;
  height: 13px;
}
#icon-btn {
  color: var(--body-text);
}

.btn-text {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0.83rem;
}

.gap{
  gap: 8px;
}