$lines-color: var(--lines-color);
$body-text-color: var(--body-text);
$font-size-label: 0.6rem;
$font-size-option: 0.8rem;
$padding: 8px;
$padding-left-label: 4px;

.select {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: 1px solid $lines-color;
  align-items: flex-start;
  width: 100%;
  min-width: 160px;
  padding: $padding;

  .select-label-container {
    width: 100%;

    .label {
      font-size: $font-size-label;
      padding-left: $padding-left-label;
    }

    select {
      border: none;
      background: none;
    }

    #sort,
    #filter {
      width: 100%;
      color: $body-text-color;
      font-size: $font-size-option;
    }
  }
}
