.select {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: 1px solid var(--lines-color);
  align-items: flex-start;
  width: 100%;
  min-width: 160px;
  padding: 8px;
}

select {
  border: none;
  background: none;
}

.select-label-container {
  width: 100%;
}

.label {
  font-size: 0.6rem;
  padding-left: 4px;
}

#sort,
#filter {
  width: 100%;
  color: var(--body-text);
  font-size: 0.8rem;
}
