h2 {
  font-weight: 800;
  font-size: 1.3rem;
  color: var(--brand-secondary);
}

h3 {
  font-weight: 700;
  font-size: 1rem;
  color: var(--body-text);
}

p {
  font-weight: 400;
  font-size: 1rem;
}

.topic {
  box-sizing: border-box;
  float: left;
  text-align: left;
  border-radius: 16px;
  cursor: pointer;
  background-color: var(--bg_default);
  overflow: hidden;
  box-shadow: 0px 4px 6px var(--lines-color);
}

.topic-img {
  width: 100%;
  height: 176px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  /* background-color: #dddddd; */
}

.information-for-topic {
  padding: 16px;
}

.topic-img img {
  width: 100%;
  /* height: 100%; */
  height: auto;
  object-fit: cover;
}

.auther-p {
  color: gray;
}
