:root {
  /* Default (light mode) colors */
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;
  --white-color: white;
  --bg_details: #333333;
  --black-color: black;
  --star-color: #ff9f43;
  --favourite-border: #dddddd;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-sort-filter-box {
  border: 1px solid var(--lines-color);
  border-radius: 8px;
  background-color: var(--bg_default);
}

.search-sort-filter-box .search-box input {
  font-size: 0.85rem;
}

.selectors-box, .select:last-child{
  border-bottom-right-radius: 16px;
  border-top-right-radius: 8px;
}