.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-sort-filter-box {
  border: 1px solid var(--lines-color);
  border-radius: 8px;
  background-color: var(--bg_default);
}

.search-sort-filter-box .search-box input {
  font-size: 0.85rem;
}

.selectors-box,
.select:last-child {
  border-bottom-right-radius: 16px;
  border-top-right-radius: 8px;
}
