.home-content {
  background-color: var(--bg_body);
  padding: 16px 32px;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nums-topic-found-h2 {
  color: var(--body-text);
  background-color: var(--bg_body);
}
