.details-div,
.sub-topics-div {
  max-width: 535px;
}

.details-div {
  background-color: var(--bg_details);
  max-width: 535px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details-div h4 {
  color: var(--brand-secondary);
  background-color: var(--bg_details);
}

.details-h3,
.details-p {
  color: var(--white-color);
  background-color: var(--bg_details);
}

.details-ul .star-filled:nth-child(2),
.star-outline:nth-child(2) {
  color: var(--star-color);
  background-color: var(--bg_details);
}

.details-ul {
  background-color: var(--bg_details);
}

.details-ul li {
  background-color: var(--bg_details);
}

.details-ul li ion-icon {
  background-color: var(--bg_details);
}

.star {
  color: var(--star-color);
  background-color: var(--bg_details);
}

.details-div ul {
  list-style: none;
  display: flex;
  padding-top: 0;
  justify-content: flex-start;
  align-items: center;
}
