:root {
    /* Default (light mode) colors */
    --brand-primary: #0768ac;
    --brand-secondary: #03c180;
    --bg_default: #ffffff;
    --bg_body: #f0f9ff;
    --lines-color: #dddddd;
    --body-text: #333333;
    --heart-color: #dc143c;
    --white-color:white;
    --bg_details:#333333;
    --black-color:black;
    --star-color:#ff9f43;
    --favourite-border:#dddddd;
  }

.details-div,
.sub-topics-div {
  max-width: 535px;
}


.details-div {
  background-color: var(--bg_details);
  max-width: 535px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details-div h4{
    color: var(--brand-secondary);
    background-color: var(--bg_details);
}

.details-h3,
.details-p {
  color: var(--white-color);
  background-color: var(--bg_details);
}

.details-ul .star-filled:nth-child(2),
.star-outline:nth-child(2) {
  color: var(--star-color);
  background-color: var(--bg_details);
}

.details-ul {
    background-color: var(--bg_details);
  }
  
  .details-ul li {
    background-color: var(--bg_details);
  }
  
  .details-ul li ion-icon {
    background-color: var(--bg_details);
  }

  .star {
    color: var(--star-color);
    background-color: var(--bg_details);
  }

  .details-div ul {
    list-style: none;
    display: flex;
    padding-top: 0;
    justify-content: flex-start;
    align-items: center;
  }
